version: '3.9.12'

services:
  database-service:
    image: "postgres"
    env_file:
      - ./database_postgresql/database.env
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - ./database_postgresql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./database_postgresql/historical_data.csv:/data/historical_data.csv
      - database-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-simulador
    container_name: postgresql-service

  api-service:
    restart: always
    build: ./api
    volumes:
      - ./api:/usr/src/app
    ports:
      - 5000:3000
    networks:
      - app-simulador
    depends_on:
      - database-service
    container_name: servicio_simulaciones

  dash-service:
    build:
      context: ./dash
      dockerfile: DockerfileDash
    volumes:
      - ./dash:/usr/src/app
    ports:
      - 8050:8050
    networks:
      - app-simulador
    depends_on:
      - database-service
    command: ["python", "simulador_v13.py"]  # Añadir esta línea para ejecutar tu aplicación Dash
    container_name: dash-simulaciones

networks:
  app-simulador:
    driver: bridge
volumes:
  database-data: